/* font here */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    /* outline: red dashed 1px; */
 
}

/* header */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,10,0.7), rgba(4,9,30,0.7)), url(images/oilrefinery.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;      
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;  
}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #F2EBE3;
    font-size: .9rem;
}

/* menu button  ----------------------------*/
.nav-links ul li::after{
    content: ' ';
    width: 0%;
    height: 2px;
    background-color: #32a848;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/* ----------------------------------------- */

.text-box{
    width: 90%;
    color: #32a848;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 3.5rem;
}

.text-box p{
    margin: 20px 0 20px;
    font-size: .95rem;
    color: #F2EBE3;
}

.hero-btn{
    display: inline-block;
    color: #F2EBE3;
    border: 1px solid #F2EBE3;
    border-radius: 2rem;
    padding: 12px 2rem;
    font-size: 13px;
    background: transparent;
    position: relative;
}

.hero-btn:hover{
    transition: all ease 0.3s;
    background-color: #32a848;
    border-color: #000;
}


/* Close-Menu */
nav .fa{
    display: none;
}



/* ********************************************************************************* */
/* Products */
.Products{
    background-color: #030415;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;  
}

.heading h1{
    color: #32a848;
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 25px;
}

.heading h2{
    font-size: 1.75rem;
    font-weight: bold;
}

.heading h3{
    font-size: 3rem;
    font-weight: bold;
    color: #32a848;
    padding-bottom: 25px;
}

.oil-content{
    display: grid;
    grid-template-columns: repeat(4, minmax(auto,200px));
    justify-content: space-between;
    gap: 5rem;
}

.oil_box{
    background-color: #b3b3b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 35px 20px;
    border-radius: 2rem;
    width: 275px;
}

.oil_box img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 100px;
}
/* h1{
    font-size: 3rem;
    font-weight: 600;
} */

/* p{
    color: #000;
    font: 1rem;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
} */



/* ********************************************************************************* */
/* Partnership */

.Partnership{
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.Partnership h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: left;

}

.Partnership p{
    color: #000;
    font: 1rem;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: left;

} 

.Partnership img{
    width: 100vh;
    height: 75vh;
    display: flex;

}


/* Contact ***********************************************/
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #030415;
 
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #F2EBE3;
}
.contact .content p{
    font-weight: 300;
    color: #F2EBE3;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex; 
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    margin-left: 322px;
}

.container .contactInfo .text{
    color: #f2ebe3;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color: #32a848;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 1rem;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #32a848;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background-color: #FFF;
}

.contactForm h2{
    font-size: 2rem;
    color: #000;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #b3b3b3;
    outline: none;
    resize: none;
}

.contactForm.inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.3s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:focus ~ span{
    color: #32a848;
    font-size: .8rem;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background-color: #030415;
    color: #F2EBE3;
    border: none;
    cursor: pointer;
    padding: 10px;
}

/* Footer ***************************************************/
.footer{
    width: 100%;
    text-align: center;
    padding: 10px 0;

}

.footer h4{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}
.footer h5{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer p{
    padding-top: 25px;
}


/* --------------------------------------------------------------------------------------------------------------------------------- */
@media(max-width: 1350px){
    .text-box h1{
        font-size: 3rem;  
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #030415;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: all ease 0.3s;
    }

    nav .fa{
        display: block;
        color: #32a848;
        margin: 10px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .nav-links ul{
        padding: 2rem;
    }

    .oil-content{
        grid-template-columns: repeat(2, minmax(auto,200px));

    }

    /* CONTACT US */
    .contact{
        padding: 30px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container.contactInfo,
    .contactForm{
        width: 100%;
    }
}

